.Contact{ 
  background-color: #003f7e;
  width: 75rem;
  margin-left: 4.5rem; 
  border-radius: 10px;
}

.Wrap-Contact {
  padding: 3rem 5rem 3rem;
}

.Contact-Title {
  color: #f5f5f5;
}

.C-btn {
  margin-left: 20px;
  font-size: 18px;
}

.C-img {
  position: absolute;
  right: 1px;
  width: 500px;
  height: 270px;
  background-color:white;
  border: 1px solid #000000;
  border-radius: 50px 10px 10px 50px;
}

.C-img img{
  margin-left: 6rem;
}

.mitra .imgmitra {
  box-sizing: border-box;

  position: absolute;
  width: 502px;
  height: 243px;
  right: 1px;
  bottom: 1px;

  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 50px 10px 10px 50px;
}

.imgmitra img {
  position: absolute;
  width: 243.34px;
  height: 200px;
  left: 160px;
  top: 25px;
}