
.Outside-box{
  position:absolute;
  border-radius: 3px;
  width: 100%;
  height: 60vh;
}

.White-box{
  position:relative;
  margin: 3rem 8rem ;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.56);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.7px);
}

.News-Title{
  text-align: center;
  padding: 20px;
  text-transform: uppercase;
  color:black;
  font-weight: bold;
}

.Context{
  font-size: 22px;
  text-align: left;
  padding: 10px;
  margin: 0 30px ;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.Platfrom{
  font-size:  30px;
  float: left;
  margin: 0  5rem 15px;
  color: black;
}

.Platfrom span{
  font-weight: 400;
  margin: 3px 0 0 10px;
  color: black;
  font-size: 18px;
}


