@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

form {
    display: flex;
    flex-direction: column;
    transition: 0.5s ease-in-out;
    font-family: 'poppins', sans-serif;
    
    
}
.input {
    
    width: 100%;
    display: flex;
    justify-content: space-between ;
    align-items: center;
    margin-bottom: 10px;
}
.input input {
    border-radius: 10px;
    outline: none;
    padding: 10px;
    width: 50.5%;
       
}

.input select{
    padding: 10px;
    width: 50.5%;
    border-radius: 10px;
}
button {
    margin: 30px auto;
    width: 30%;
    padding: 15px;
    border-radius: 10px;
    background-color: #f27c36;
}
button:hover{
    transition: 0.5s ease-in-out;
    background-color: #003F7E;
    color: #fff;
}