.Footer {
    margin-top: 7rem;
    border: 5px solid;
    background-color: black;
    padding: 30px 30px 10px 30px;
   
}

.Wrap-Footer{
    background-color: #003F7E;
    display: flex;
<<<<<<< HEAD
    height:min-content
=======
    width: 100%;  
>>>>>>> 5bea37f59dd98d12a3da03a2fa491c5c358f9973
}

.Footer-img {
   max-width: 250px;
   margin: 10px 20px;
}

.Footer-Address {
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
   
}

.Address-Title h3{
    color: white;
    font-size: 25px;
    line-height: 50px;
    font-weight: medium;
    font-family: 'poppins', sans-serif;
}

.Address-Map .map{
    color: white;
    font-weight: 300;
    line-height: 30px;
<<<<<<< HEAD
    font-size: 15px;
=======
    
>>>>>>> 5bea37f59dd98d12a3da03a2fa491c5c358f9973
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Sosial{
    margin-top: 3rem;
    
}
.Sosial ul {
    display: flex;
    display: flex;
    align-items: center;   
}
.Sosial ul li {
    justify-content: space-between;
    font-size: 35px;
    margin-left: 40px;
    list-style: none;
    color: white;
} 

.cp{
<<<<<<< HEAD
    position: absolute;
    bottom: 1rem;
    left: 35rem;
    color: white;
=======
    margin-top: 1.5rem;
    text-align: center;
>>>>>>> 5bea37f59dd98d12a3da03a2fa491c5c358f9973
}

