.Login{
    margin: 0 2rem;
    padding: 2rem;
     display: flex;
    flex-direction: row;
    border-color: white;
}

.Img{
    margin: 7rem 0;
    width: 470px;
}

.i-back{
    margin-bottom: 6rem;
    
}

.Login-Title{
    font-size: 22px
}

.Login-Subtitle{
    margin: 1rem 0 2rem ;

}

.forget{
    position: absolute;
    right: 55px;
    top: 28.7rem;
}

.Login-btn {
   border-radius: 20px;
   width: 700px;
 margin-left: 50px;
 border-color: beige;
 margin-bottom: 20px;
}

.Daftar{
    color: gray;
    text-decoration: none;
    margin-left:  15rem; 
}


