@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
.Login{
    margin: 0 2rem;
    padding: 2rem;
     display: flex;
    flex-direction: row;
    border-color: white;
}

.Img{
    margin: 7rem 0;
    width: 470px;
}

.i-back{
    margin-bottom: 3rem;
    
}

.Login-Title{
    font-size: 22px;
    font-family: 'poppins', sans-serif;
}

.Login-Subtitle{
    margin: 1rem 0 2rem ;

}

<<<<<<< HEAD
.forget{
    right: 55px;
    top: 28.7rem;
    color: gray;
}

=======
>>>>>>> 02afbd3c89455e6f8e6729926fae5590e2e8a2c6
.Login-btn {

   border-radius: 20px;     
    margin-left: 50px;
    border-color: beige;
    margin-bottom: 20px;
}


.Daftar{
    display:flex;
    gap: 15px;
    color: gray;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    display:flex;
    
}
.sub {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sub button {
    background-color: #f27c36;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    width: 500px;
    border-color: #f27c36;
    font-weight: bold;
}
.sub button:hover {
    background-color: #003F7E;
    transition: 0.5s ease-in-out;
    color: #fff;
    border-color: #003F7E;
    font-weight: bold;
}

