.nav-color {
    background: #f8f8f8;
    height: 100px;
}
.conts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 80%;
    position: relative;
    
}

.ms-auto{
    font-size: 20px;
}

.ms-auto > .nav-link:hover {
    font-size: 19px;
    transition: all 0.4s;
    color: #003F7E;
    text-decoration: underline 3px #f27c36;
}

.ms-auto .login {
    background-color: #003F7E;
    
    color: white;
    width: 5rem;
    text-align: center;
    border-radius: 15px;
    
}

.ms-auto .login:hover{
    background-color: #f27c36;

    transition: 0.2s ;
    text-decoration: none;
    font-weight: 400;
    color:black;
}

