@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
.profile {
    width: 80%;
    margin: 5rem auto;
    display: flex;
      
    font-family: 'poppins', sans-serif;
    
}
.left {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.card-foto {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    width: 23.5rem;
    height: 10rem;
    background-color: #F8F8F8;
    box-shadow: 3px 4px 8px 0;
}
.menu-samping {
    margin-top: 5rem;
    box-shadow: 3px 4px 8px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    background-color: #F8F8F8;
    border-radius: 10px;
    
}
.item img {
    width: 7rem;
    height: 8rem;
}
.item:hover{
    background-color: #f27c36;
    border-radius: 10px;
    transition: 0.5s ease-in-out;
    color: #F8F8F8;
}
.menu-samping .item {
    border-bottom: 1px solid;
    
    padding: 50px;
    cursor: pointer;
}
.item:nth-child(3){
    margin-bottom: 10px;
}

.menu-samping a {
    text-decoration: none;
    text-align: center;
    margin-left: 10px;
    width: 100%;
    color: #000;
    
}

.right {
    box-shadow: 3px 4px 8px 0;
    background-color: #F8F8F8;
    margin-left: 5rem;
    
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: relative;
}
.content {
    
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.content > div{
    padding: 10px;
    cursor: pointer; 
    list-style: none;
    
    
}
.isi-content{
    width: 80%;
    margin: 1px auto;
    
    padding: 10px;
}
.content > div:hover{
    background-color: #003F7E;
    border-radius: 10px;
    transition: 0.5s ease-in-out;
}
.aktif{
    background-color: #003F7E;
    color: #fff;
    border-radius: 10px;
    transition: 0.5s ease-in-out;
}
.head{
    text-align: center;
    margin: 20px auto;
    color: #000;

    font-family: 'poppins', sans-serif;
    
    display: block;    
}