.SB-Container{  
    margin: 3rem 10rem;
    display: flex;
    border-color: #FFF;

}

.i-SB {
    color: black;
    text-decoration: none;
    
}

/* Status Bantuan Box 1  */

.SB-Box1 {
    margin-top: 3rem;
    background-color: #003F7E;
    width: 230px;
    border-radius: 10px;
    color: #FFFEFE;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    position: absolute;
    z-index: 1;
}

.SB-Box-Wrap{
    display: flex;
    gap: 5px;
}

.Box1-Title {
    position: relative;
    font-size: 15px;
    overflow: hidden;
    margin-top: 15px;
    text-align: center;
}

.Wrap-Text {
    font-size: 16px;
    text-align: center;
}

/* Box 2 */

.SB-Box2{ 
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: #FFF;
}


.Box2-Heading {
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
}

.Box2-Title{
    font-size: 25px;
}

/* Status Bantuan Stages */

.Box3-Status  {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    margin-left: 180px;
}

.SB-icons{
    font-size: 90px;
    display: flex;
}

.SB-Line {
    margin-bottom: 7rem;
    background: transparent;
    border-bottom: solid 3px black;
    width: 5rem;
}

.Status-text{
    margin-top: 10px;
    text-align: center;
}

.Box4 {
    margin : 0 auto;
    justify-content: center;
    padding: 30px;
    width: 40rem;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.4);
}

.Box4-Title {
    font-size: 22px;
    text-align: center;
}

.Box5 {
    margin : 50px auto;

    justify-content: center;
    padding: 30px;
    width: 40rem;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.4);
}
.box4-5{
    margin-left: 10rem;
}



.stats #i{
    margin-bottom:60px ;
}
.status p {
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.abt {
    width: 100%;
    height: 100%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}